<h1 class="text-center fw-bold mb-5 display-5"  >{{appTitle}} </h1>




<div class="text-center">
<a class="btn btn-primary" href="/auth/signup"> Sign Up</a>
<a class="btn btn-primary" href="/auth/login"> Log In</a>
<a class="btn btn-primary" href="/auth/logout"> Log Out</a>
</div>
