<body id="viewCombatFight" class="text-white mb-0" >


</body>


<h1>COMBAT FIGHT VIEW</h1>




<div class="row justify-content-center">
  <div class="col-auto">
    <a class="btn btn-primary" href="/combat/lobby">Back</a>
  </div>
</div>