<body id="viewCombatLobby">

</body>

<h1 class="text-center fw-bold mb-5 display-5">COMBAT LOBBY</h1>

<div class="row justify-content-center">
  <div class="col-auto">
    <a class="btn btn-primary" href="/welcome">Back</a>
  </div>
</div>