<body id="viewMain">


</body>

<h1 class="text-center fw-bold mb-5 display-5 ">WELCOME</h1>

<div class="text-center">
<a class="btn btn-primary" href="/profile"> Profile</a>
<a class="btn btn-primary" href="/combat/lobby"> Combat 1vs1</a>
<a class="btn btn-primary" href="/spells"> Spells</a>
<a class="btn btn-primary"href="/auth/logout"> Log Out</a>
</div>
